div.css-1kyxreq.ebxwdo62 {
    background-color: #EEEEEE;
    border: 2px solid #CCCCCC;
    padding: 5% 5% 5% 10%;
    border-radius: 5px;
}

section.main.css-uf99v8.e1g8pov65 {
    background-color: rgb(220,249,233);
}